

p {
	
font-family: monospace;
	
	font-size: 15pt;
}

h1 {

	color: gold;


}

h2 {
	font-family: cursive;
	color: black;
}

.img {

	vertical-align: bottom;

}

.tab {

	text-align: center;



}
.info{
	
	text-align:left;
	color: maroon;
}

a{
	color: darkblue;
}
