body {
	background-color: #efffff;



}

p {
	
font-family: monospace;
	color: rebeccapurple;
	font-size: 15pt;
}

h1 {

	color: gold;
	font-family: serif;

}

h2 {
	font-family: cursive;
	color: goldenrod;
}

.img {

	vertical-align: bottom;

}

.tab {

	text-align: center;



}
.info{
	
	text-align:left;
	color: maroon;
}

a{
	color: chartreuse;
}
a hover:default;