body {
background-color: aqua;
	color: antiquewhite;
	

 }

p{
	
	color: rebeccapurple;
	font-size: 15pt; 
}

h1{
	
	color: gold;
	font-family: serif;
	
}

h2{
	color: goldenrod;
}

.img{
	
	vertical-align: bottom;
	
}
.tab{
	
	text-align: left;

}